@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
  display: grid;
  min-height: 100dvh;
  grid-template-rows: 
    auto 1fr auto;
  @apply mx-10 my-4 space-y-[21px];
}

input[type="text"], input[type="email"], input[type="password"], input[type="number"], input[type="search"], input[type="tel"], input[type="url"], textarea, select {
  @apply bg-white rounded-[10px] p-[10px] min-w-[250px];
}

.btn {
  @apply bg-rose-400 text-white font-bold py-[10px] px-[16px] rounded-[10px];
}

.btn:hover {
  @apply bg-rose-500 cursor-pointer;
}
